.chatwindow {
    /*width: 325px;
    position: fixed;*/
}

.like-img {
    /*width: 15%;*/
}

.likeimg {
    /*width: 15%;*/
}

.chattable {
    width: 370px;
}

.chat-img {
    max-width: 200px;
}

.chattableraw {
    height: 50px!important;
    background-color: #000;
}
#inchathead{ line-height:39px!important; padding:0 10px!important;}
#operatorimgdiv{ height:70px!important; padding:8px 10px!important;}
#operatorimgdiv a{ outline:none!important;}
#SendRequest > a{ color:#fff!important;}
.chattable .quesinput {
    width: 86%;
    font-family: 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-top: 1%;
    margin-left: 6%;
    border-radius: 4px;
    height: 70px;
    font-size: 14px;
    border: 1px solid #dcdcdc;
    resize: none;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}

.chattableraw .hedertext {
    width: 76%;
    color: #fff;
    -moz-border-radius:5px 5px 0 5px;
    -webkit-border-radius:5px 5px 0 5px;
    border-radius: 5px 5px 0 5px;
    box-shadow: 0 0 6px 0px #888;
    margin: 5px 0;
    font-size: 1.1em;
    font-family: 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.5em;
	padding:3px 10px!important;
	line-height:39px!important;
}

.chattableraw .sendreq {
    width: 76%;
    color: #fff;
    -moz-border-radius:5px 5px 0 5px;
    -webkit-border-radius:5px 5px 0 5px;
    border-radius: 5px 5px 0 5px;
    box-shadow: 0 0 6px 0px #888;
    margin: 5px 0;
    font-size: 1.1em;
    font-family: 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.5em;
}

.chattableraw .hederbtn {
    width: 8%;
    color: #fff;
     -moz-border-radius:5px 5px 5px 0;
    -webkit-border-radius:5px 5px 5px 0;
    border-radius: 5px 5px 5px 0;
    box-shadow: 0 0 6px 0px #888;
    font-family: 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
	padding:0 10px 0 8px!important;
}
td.hederbtn a:focus{ outline:none!important; outline-offset:0!important;}

    .chattableraw .hederbtn .btnimg {
        width: 20px;
        align-self: flex-end;
        margin-bottom: -5px;
        margin-left: 1px;
        font-family: 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
    }

.chattable .chat-messages {
    height: 275px;
    border: 1px solid;
    border-radius: 4px;
    background: #fff;
    overflow: auto;
    font-family: 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.chattable .inchatmsg {
    text-align: center;
    margin: 0px;
    font-size: .7em;
    font-family: 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: italic;
    line-height: 1.5em;
    /*min-height: 200px;*/
}

.chattable .clschatmsg {
    text-align: center;
    margin: 5px 0;
    font-size: .9em;
    font-family: 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
    /*font-style: italic;*/
    line-height: 1.5em;
    /*min-height: 200px;*/
	
}

.chattable .name-messages {
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    background: #fff;
    overflow: auto;
    margin-top: -1%;
    color: gray!important;
    font-family: 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
    position: relative;
	padding:25px 0!important;
}
.name-messages button:hover{ background:none!important; border:1px solid #333!important; color:#333!important;}


.chattable p {
    padding: 10px;
    margin: 0 0 10px;
    margin: 5px 0;
    font-size: .9em;
    font-style: italic;
    line-height: 1.5em;
    font-family: 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.chattable .message-you {
    display: block;
    margin-left: 30px;
    position: relative;
    padding: 10px;
    border: 1px solid #E5E5E5;
    background: #FFFCF2;
    border-radius: 3px;
    font-family: 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.chattable .message-me {
    margin-left: 0;
    margin-right: 30px;
    background: #F2FBFF;
    display: block;
    position: relative;
    padding: 10px;
    border: 1px solid #E5E5E5;
    border-radius: 3px;
    font-family: 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.chattable .message-time {
    float: right;
    font-size: 11px;
    font-family: 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: italic;
    color: #aaa;
}

.chattable .message {
    display: block;
    font-family: 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-top: 10px;
}

.chattable .chatinput {
    width: 99%;
    height: 25px;
    border-radius: 5px;
    font-family: 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.chattable .nameinput {
    width: 85%;
    border-radius: 4px;
    /*height: 18px;*/
    margin: 8px 20px;
    border: 1px solid #ccc !important;
    padding: 3px 3px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    font-family: 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.chattable .messinput {
    width: 90%;
    /*height: 60px;*/
    font-family: 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    resize: none;
    border-radius: 5px;
    margin: 8px;
    border: 1px solid #ccc !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}

.name-messages h3 {
    margin-left: 20px;
    font-family: 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.name-messages button {
    margin: 15px;
    font-family: 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
    /*background: #AECF5E!important;*/
    color: #ebebeb;
    /* border-radius: 3px; */
    /* text-overflow: initial; */
    white-space: nowrap;
    height: 36px!important;
    /* border: 1px solid #aecf5f!important; */
}

.messages {
    padding: 5px;
}

    /*.messages ul {
        padding: 0px;
        list-style-type: none;
    }*/

        .messages div {
            height: auto;
            margin-bottom: 10px;
            clear: both;
        }

            .messages div span {
                display: inline-block;
                padding: 5px;
                border-radius: 6px;
                position: relative;
                margin-top: 7px;
            }

                .messages div span.left {
                    float: left;
                    left: 15px;
                    max-width: 270px;
                    color: white;
                }

                    .messages div span.left:after {
                        content: "";
                        display: inline-block;
                        position: absolute;
                        left: -7.5px;
                        top: 7px;
                        height: 0px;
                        width: 0px;
                        border-top: 8px solid transparent;
                        border-bottom: 8px solid transparent;
                        /*border-right: 8px solid white;*/
                    }

                    .messages div span.left:before {
                        content: "";
                        display: inline-block;
                        position: absolute;
                        left: -9px;
                        top: 7px;
                        height: 0px;
                        width: 0px;
                    }

                .messages div span.right:after {
                    content: "";
                    display: inline-block;
                    position: absolute;
                    right: -8px;
                    top: 6px;
                    height: 0px;
                    width: 0px;
                    border-top: 8px solid transparent;
                    border-bottom: 8px solid transparent;
                    border-left: 8px solid gainsboro;
                }

                .messages div span.right:before {
                    content: "";
                    display: inline-block;
                    position: absolute;
                    right: -9px;
                    top: 6px;
                    height: 0px;
                    width: 0px;
                }

                .messages div span.right {
                    float: right;
                    background-color: gainsboro;
                    right: 15px;
                    max-width: 270px;    
                }

.clear {
    clear: both;
}

.lefttime {
  left: 58px;
  margin-top: -15px!important;
  position: absolute;
  font-size: 12px;
  line-height: 1.5;
}

.righttime {
  right: 60px;
  margin-top: -15px!important;
  position: absolute;
  font-size: 12px;
  line-height: 1.5;
}
#clschatrefresh a img{ margin-bottom:-11px!important;}
.name-messages > h4{ font-size:20px!important;}
#name-box td{ padding:0!important;}
#close-box td{ padding:0!Important;}
#SendRequest > a:hover{ color:#333!important;}
#NoOp-box td{ padding:0!important;}
.name-messages{ padding-left:10px!important;}