.chattable .nameinput {
	width:85%;
	border-radius:4px;
	height:36px;
	margin:8px 20px;
	border:1px solid #ccc !important;
	padding:3px 3px;
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
	font-family:calibri;
}
.name-messages button {
	margin:15px;
	font-family:calibri;
	color:#ebebeb;
	border-radius:8px;
	white-space:nowrap;
	height:42px!important;
}
.chattable .messinput {
	width:90%;
	/*height:75px;*/
	font-family:Calibri;
	font-size:medium;
	resize:none;
	border-radius:5px;
	margin:8px;
	border:1px solid #ccc !important;
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
}
#refreshafterchats {
	height: 32px;
}